.cart {
    animation: pulse;
    animation-duration: 0.5s;
    position: absolute;
    width: 300px;
    margin: 25px auto;
    right: 5%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    z-index: 2;
}

.cart img {
    width: 50px;
}

.cart a {
    color: #202020;
    text-decoration: none;
}

.cart a:hover {
    font-weight: 600;
}

.cart-view img {
    width: 150px;
}

.cart-item-details {
    width: 100%;
}

.cart-item {
    animation: fadeIn;
    animation-duration: 0.8s;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    border-bottom: 1px solid #dadada;
}

.cart .cart-item-details .name {
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 5px;
}

.cart-item > div {
    padding-right: 15px;
}

.cart .cart-item-details .qty {
    display: flex;
}

.cart .cart-item-details .price {
    font-size: 18px;
    padding-top: 10px;
}

.cart-item button {
    margin: auto;
    width: 25px;
    height: 25px;
    color: #202020;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #202020;
}

.cart-item-details .qty button:hover {
    color: #fff;
    background-color: #202020;
}

button.cart-item-remove {
    border: none;
    color: #b00000;
    cursor: pointer;
    transition: 0.3s ease;
}

button.cart-item-remove:hover {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.cart-footer {
    color: #fff;
    background-color: #202020;
    padding: 15px 0;
    border-radius: 0 0 15px 15px;
}

.cart-footer button, .cart-footer a {
    text-decoration: none;
    font-size: 15px;
    color: #fff !important;
    background: none;
    border: none;
    border-bottom: 1px solid #fff !important;
    margin: 5px;
    padding: 10px 0;
    cursor: pointer;
}

.cart-footer button:hover, .cart-footer a:hover {
    color: red !important;
    border-color: red !important;
    transition: 0.3s ease !important;
}

.cart-none {
    padding: 25px;
}

/*Cart view styles*/
.cart-view .paper {
    animation: fadeInUp;
    animation-duration: 0.9s;
    transition: 0.9s ease-in-out;
    padding: 35px;
    padding-bottom: 55px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #dadada;
    border-radius: 25px !important;
}

.cart-view .cart-total > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-total-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-view .right {
    padding-top: 3%;
    border: none;
    border-left: 1px solid #dadada;
}

.cart-view .left {
    padding-right: 50px;
}


.cart-view h6 {
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 20px;
}

.cart-view h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.1rem;
}

.cart-view .cart-item-details .name, 
.cart-view .cart-item-details .variants,
.cart-view .cart-item-details .price {
    width: 100%;
    text-align: center;
}

.cart-item-details .variants {
    font-size: 11px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.cart-view .cart-item-details .price {
    font-size: 20px;
}

.cart-view .cart-total-price {
    padding: 15px 0;
    font-size: 25px;
}

.cart-view .cart-item-details .qty {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 8px 0;
}

.cart-view .right a, .cart-view .right button {
    text-decoration: none;
    font-size: 18px;
    color: #202020 !important;
    background: none;
    border: none;
    border-bottom: 1px solid #202020 !important;
    margin: 5px;
    padding: 10px 0;
    cursor: pointer;
}

.cart-view .right a:hover, .cart-view .right button:hover {
    color: red !important;
    border-color: red !important;
    transition: 0.3s ease !important;
}