.loader {
  animation: fadeIn;
  animation-duration: 0.9s;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader > div {
    color: #c9d1d9;
  }