.hero .hero-txt {
    padding: 50px 20% !important;
}

.hero-txt span.highlight {
    font-style: italic;
    font-weight: 400 !important;
}

.hero-txt h1 {
    animation: fadeInUp;
    animation-duration: 0.8s;
    font-weight: 400;
    font-size: 50px;
}

.hero-txt h2 {
    animation: fadeIn;
    animation-duration: 0.8s;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 300 !important;
}

.hero-txt h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.45em;
    padding-bottom: 10px;
    animation: fadeInUp;
    animation-duration: 0.8s;
}

.home .product-view-cart-btn {
    text-decoration: none;
    animation: fadeInUp;
    animation-duration: 0.9s;  
}

.home main {
    padding: 0 25px;
}

.home .main-grid img {
    padding-top: 10px;
    width: 95%;
    animation: fadeInUp;
    animation-duration: 1s;  
}

.home main h2 {
    font-size: 55px;
    line-height: 1;
    font-weight: 600;
}

.home main h6 {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1em;
    padding-bottom: 10px;
    animation: fadeInUp;
    animation-duration: 1.2s;  
}

.home p {
    font-weight: 300;
}

/*Stay ODD styles*/
.stay-odd {
    padding: 30px;
}

.stay-odd .grid {
    padding: 50px 0;
}

.stay-odd h3, hr {
    display: inline-block;
}

.stay-odd hr {
    width: 40%;
    border: none;
    border-top: 1px solid #d00000;
    padding: 5px;
    margin-left: 15px;
}

.stay-odd .highlight {
    font-style: italic;
}

.stay-odd h3 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 35px;
    animation: fadeInUp;
    animation-duration: 1s;  
}

.stay-odd h2 {
    animation: fadeInUp;
    animation-duration: 1s;  
    font-size: 65px;
}

.stay-odd p {
    font-weight: 200;
    font-size: 28px;
    padding-top: 10px;
}

.stay-odd img {
    width: 100%;
    animation: fadeIn;
    animation-duration: 1s;  
}

/* Terms & Conditions */
.terms h4, .delivery h4, .privacy-policy h4 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding-top: 25px;
    animation: fadeInUp;
    animation-duration: 0.7s;  
}

.terms p, .delivery p, .privacy-policy p {
    font-weight: 300;
}

.size-chart {
    display: flex;
}

.size-chart img {
    width: 700px;
    margin: 0 auto !important;
}