.filter-bar {
  font-family: 'Poppins' !important;
  margin-top: -90px;
  animation: fadeInUp;
  animation-duration: 0.8s;
}
  
.filter-bar .search-results {
  animation: fadeInUp;
  animation-duration: 1s;
  margin-top: 10px;
}

  .filter-bar .root {
    width: 70%;
    margin: 0 auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    border-radius: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #dadada;
  }
  
  .input {
    flex: 1;
    margin-left: 10px;
  }
  
  .filter-bar .MuiInput-underline {
    padding-left: 8px;
  }
  
  .filter-bar .MuiInput-underline:before,
  .filter-bar .MuiInput-underline:after {
    display: none;
  }

 .filter-bar .Mui-focused {
    outline: none !important;
    border: 0px solid #b00000 !important;
  }
  
  .result-message {
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
    color: #000000;
  }

  .filter-container {
    width: 100% !important;
    color: #fff;
  }
  
  
  .form-control fieldset {
    font-family: 'Poppins' !important;
  }