.product a {
    text-decoration: none;
    color: #202020;
}

.product a:hover {
    background: none;
}

.product-card {
    border-radius: 20px !important;
    border: solid 0px #dddddd !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px !important;
    cursor: pointer;
}

.product-image {
    transition: 0.3s ease;
}

.product-image:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.product-info {
    text-align: center;
    border-top: solid 1px #dddddd;
    width: 80%;
    margin: auto;
}

.product-details {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price {
    padding-top: 3px;
}

button.product-btn {
    min-width: 30px;
    padding: 5px;
    margin-left: 5px;
    color: #202020;
    border-radius: 100px;
}

button.product-btn:hover {
    color: #fff;
    background-color: #202020;
}

.cart-icon {
    fill: #000;
}