/* Styles for product listed on shop*/

.product a {
    text-decoration: none;
    color: #202020;
}

.product a:hover {
    background: none;
}

.product-card {
    border-radius: 20px !important;
    border: solid 0px #dddddd !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px !important;
    cursor: pointer;
}

.product-image {
    transition: 0.3s ease;
}

.product-image:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.product-info {
    text-align: center;
    border-top: solid 1px #dddddd;
    width: 80%;
    margin: auto;
}

span.product-name {
    font-weight: 500;
    font-size: 20px;
}

.product-details {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price {
    font-size: 20px;
    padding-bottom: 1px;
}

button.product-btn {
    min-width: 30px;
    padding: 5px;
    margin-left: 5px;
    color: #202020;
    border-radius: 100px;
}

button.product-btn:hover {
    color: #fff;
    background-color: #202020;
}

/*Styles for product view*/

.product-view-title {
    font-size: 25px;
}

.product-view-img {
    width: 500px;
}

.product-view h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1rem;
}

.product-view-qty-btn {
    margin: auto;
    font-size: 20px;
    width: 35px;
    height: 35px;
    color: #202020;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #202020;
    cursor: pointer;
}

.product-view-qty-btn:hover {
    color: #fff;
    background-color: #202020;
}

.product-view-actions {
    display: flex;
    align-items: center;
}

.product-view-qty {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.product-view-price {
    font-size: 30px;
    padding: 20px 0;
    color: #a00000;
}

.product-view-cart-btn {
    color: #fff;
    background: #b00000;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 22px;
}

.product-view-cart-btn:hover {
    color: #fff;
    background: #a00000;
    transform: scale(0.95);
}

.product-view-cart-btn > * {
   display: inline-block;
}

/*Variant styles*/

.variants img {
    width: 100px;
    border: 1px solid #202020;
    margin: 10px 0;
    margin-right: 10px;
    cursor: pointer;
}

.variants img:hover {
    border: 1px solid #b00000;
}

.variants button {
    margin: 15px;
    padding: 10px;
}

.product-view #sizes, #colors {
    margin: 25px 0;
    margin-right: 25px;
}

/*Product category styles*/
.product-list > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.category-name {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}