.hero .hero-txt {
    padding: 50px 20% !important;
}

.hero-txt span.highlight {
    font-style: italic;
    font-weight: 400 !important;
}

.hero-txt h1 {
    animation: fadeInUp;
    animation-duration: 0.8s;
    font-weight: 400;
    font-size: 50px;
}

.hero-txt h2 {
    animation: fadeIn;
    animation-duration: 0.8s;
    font-size: 50px;
    font-weight: 300 !important;
}